@media screen and (max-width:480px) { 
  body{
      background-color: #FFFFFF;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04DF97;
    height: 6rem;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    top: 0;
  }
  .logo-usuario{
    height: 3rem;
    border-radius: 2rem;
  }
  .texto-nav{
    color: white;
    padding: 2rem;
    font-family: 'Graduate';
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  .slideshow-container {
    position: relative;
    padding: 1rem;
    width: 100%;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .active {
    background-color: #717171;
  }
  .imagem-slide{
    width: 100%;
    height: 15rem;
    background-position: center;
  }
  hr{
    margin: 1rem 2rem;
    color: inherit;
    background-color: #04DF97;
    border: 0;
    opacity: 75%;
  }
  .destaques{
    display: flex;
    text-transform: uppercase;
    font-family: 'Graduate';
    justify-content: center;
    flex-wrap: wrap;
  }
  .destaque__imagem{
    height: 110px;
    width: 110px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20%;
  }
  .destaque__imagem--cupom{
    height: 200px;
    width: 120px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
  }
  footer{
    margin-top: 1rem;
    background-color: black;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  .link__footer{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link__imagem{
    height: 40px;
  }
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .card {
    flex: 0 0 auto;
    margin: .25rem;
    padding-left: .50rem;
    padding-right: .50rem;
    border-color: transparent;
  }
}