@media screen and (max-width:480px) { 
    body{
        background-color: #FFFFFF;
     }
    header{
        background-color: black;
        height: 6rem;
        display:flex;
    }
    #logo-usuario{
        height: 4.5rem;
        padding: 1rem;
    }
    #nome-usuario{
        color: white;
        font-family: 'graduate';
        margin-top: 1.2rem;
        font-size: 1.5rem;
    }
}