@media screen and (max-width:480px) { 
  body{
      background-color: #FFFFFF;
  }
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 4rem;
  }
  .texto-nav{
    color: white;
    padding: 2rem;
    font-family: 'Graduate';
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }
  #edit, #voltar{
    padding: 1rem;
  }
  .botao{
    background-color: #04DF97;
    color: white;
    text-decoration: none;
    padding: .75rem;
    width: 85%;
  }
  .botao-usuario{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-family: 'Graduate';
    padding-top: 7.4rem;

  }
  .container {
    padding: 2rem 0rem;
  }
   
  .modal-header .close {
    margin-top: 0;
    background-color: transparent;
    border: 2px solid #04DF97;
  }
   
  .form-title {
    margin: 0rem 0rem 2rem;
  }
   
  .btn-round {
    border-radius: 3rem;
  }
   
  .delimiter {
    padding: 1rem;
  }
   
  .social-buttons .btn {
    margin: 0 0.5rem 1rem;
  }
   
  .signup-section {
    padding: 0.3rem 0rem;
  }

}
@media screen and (min-width:414px) {
  .texto-nav{
    color: white;
    padding: 1.3rem;
    font-family: 'Graduate';
    margin: 0;
  }
}