 /* smartphones, Android phones, landscape iPhone */
@media screen and (max-width:480px ) { 

    section {
      padding: 30px;
    }
    .input-container {
        position: relative;
        margin-top: 2rem;

      }
      
      input {
        border: 0;
        border-bottom: 2px solid #04df97;
        outline: none;
        transition: .2s ease-in-out;
        box-sizing: border-box;
        background-color: black;
        color: #04df97;
        letter-spacing: 0.25rem;
      }
      
      label {
        top: 0;
        left: 0; right: 0;
        color: #04df97;
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 1rem;
        cursor: text;
        transition: .2s ease-in-out;
        box-sizing: border-box;
    
      }
      
      input,label {
        width: 100%;
        height: 2rem;
        font-size: 1rem;
      }
    input:valid,input:focus {
      border-bottom: 2px solid #04df97;  
    }
    
    input:valid + label,input:focus + label {
      color: #04df97;
      font-size: .8rem;
      top: -30px;
      pointer-events: none;
    }
    footer{
      display: flex;
      justify-content: center;
      flex-flow: wrap;
    }
    #btn-entrar{
        width: 19rem;
        color: black;
        border-color: #04df97;
        letter-spacing: 0.2rem;
        font-family: 'Graduate';
        border-radius: 20px;
        background-color: white;
    }
    #lbl-cadastro{
      text-align: center;
      font-size: 0.9rem;
      margin-left: 1.2rem;
      text-decoration: none;
    }
    #lbl-esqueci{
      text-align: center;
      margin-right: 1.2rem;
    }
    #imagem-google{
      height: 2rem;
    }
    a{
      padding-left: 0.5rem;      
    }
    .esqueci-senha{
      display: none;
      justify-content: center;
      width: 100%;
      margin-bottom: 0;
      color:#04df97 ;
    }
    .error{
      display: none;
      justify-content: center;
      width: 100%;
      margin-bottom: 0;
      color:#04df97 ;
    }
    .logo{
      width: 100%;
      height: 17rem;
      display: flex;
      justify-content: center;
    }
    .logo-canteen{
      padding-top: 4rem;
    }
    .footer-redes{
      width: 100%;
      text-align: center;
      padding-top: 1rem;
    }
    .form{
      background-color: #e4e4e4;
      padding-top: 2rem;
      border-radius: 2rem 2rem 0 0;
      padding-bottom: 1.3rem;
    }
}
@media screen and (min-width: 413px) {
  .form{
    background-color: #e4e4e4;
    padding-top: 5rem;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 1.3rem;
  }
}
@media screen and (max-height:667px ) { 
  .footer-redes{
    margin-top: 0;
  }
}
