 /* smartphones, Android phones, landscape iPhone */
 @media screen and (max-width:480px) { 
    body{
        background-color: #f2f2f2;
    }

    .voltar{
        margin: 0.9rem;
        margin-top: 1.2rem;
        position: absolute;
    }
    .logo-voltar{
        height: 1.7rem;
    }

    header{
        background-color: black;
        height: 4rem;
        display:flex;
        justify-content: center;
    }

    main{
        text-align: center;
        padding: 1rem;
    }

    .cardVirtual{
        width: 100%;
        height: 12rem;
        color: white;
        background-color: #bdd4e7;
        background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    }

    .numberRegistration{
        padding-top: 3rem;
    }

    .cardVirtual .card-body .numberRegistration h2{
        font-size: 1.3rem;
        text-align: left;
    }

    .cardVirtual h2{
        text-align: right;
        font-family: fantasy;
    }

    #titulo-pagina{
        color: white;
        padding: 1.5rem;
        font-family: 'Graduate';
        margin: 0;
    }

    .range input{
        margin: 3px;
        margin-bottom: 30px;
        height: 10px;
        width: 75%;
    }

    h4{
        color: black;
    }

    .historyCupons{
        max-height: 27rem;
        padding: 20px;
    }
    .voltar{
        margin: 0.5rem;
        position: absolute;
    }
    .logo-voltar{
        height: 2.7rem;
    }

    .h2{
        font-family: 'Graduate';
        margin: 0;
        text-align: left;
    }

    .list-group-item {
        background-color: #f2f2f2;
        text-align: left;
    }
    
}
