 /* smartphones, Android phones, landscape iPhone */
 @media (max-width:480px) {
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        height: 4rem;
    }
    .voltar{
        margin: 0.9rem;
        margin-top: 1.2rem;
        position: absolute;
    }
    .logo-voltar{
        height: 1.7rem;
    }

    #titulo-pagina{
        color: white;
        padding: 2rem;
        font-family: 'Graduate';
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }

    section {
        background-color: #f2f2f2;
        margin: 15px;
        display: flex;
        justify-content: center;
    }

    main{
     background-color: #f2f2f2;
    }

    .cupom{
        margin-top: 1rem;
        background-color: white;
        border-radius: 15px;
        width: 340px;
        height: 130px;
    }
 }
 